/*Regler speciellt för index sidan, reglerna är till för innehållet*/
.mrhatt
{
    height:32%;
    width: 32%;
    margin: 0 auto ;
    display: block;
    border-radius: 4px;
    background-color: #FFD638;
    padding: 8px;

}
.center
{
    margin: 0 auto;
    text-align: center;
    background-color: #FFD638;
    padding: 8px;
    margin-right: 4px;
    border-radius: 4px;

}

#historia
{
    padding-top: 65px;
}
