/*Regler speciellt för index sidan, reglerna är till för innehållet*/
input
{
    margin: 5px;
}
form /*Regler för min form*/
{
    margin: 16px 150px 10px 150px;
    border-radius: 4px;
    text-align: center;
    background-color: #FFD638;
    padding: 10px;

}
textarea
{
    resize: none; /*Gör så man inte kan ändra storlek på textarea*/
}
.formbutton
{
    text-align: center;
}
.bryrom
{
    background-color: #FFD638;
    border-radius: 4px;
    display: inline-block;
    margin-top: 16px;
    margin-right: 4px;
}
.bryrom h2
{
    padding-left: 4px;
}
