body
{
    background-color: whitesmoke;
    margin:0px;
    height: 1000px;
    font-family: 'Montserrat', sans-serif;

}
.container
{
    width: 960px;
    margin: 0 auto;
}
header
{
    width: 960px;
    height: 215px;
    background-color: yellow;
}
nav
{
    width: 960px;
    height: 35px;
    background: #FFD638;
    border-radius: 5px;
}
li
{
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}
ul{
    padding: 0px;
    margin: 0px;
    padding-top: 7px;
    float:left;
    display: inline-block;
}
aside
{
    background-color: whitesmoke;
    float: right;
    display: inline-block;
    width:239px ;
    height: 748px;
    border-left: solid;

    border-width: 1px;

}
section
{
    float: left;
    width: 719px;
    display: inline-block;
    height: 748px;
    background: whitesmoke;
    border-right: solid;
    border-right-width: 1px;


}
a
{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    color: black;


    padding: 4px 9px 4px 8px;
}
a:hover
{
    color: #4C4F4C;
    background-color: #E8C333;
    border-radius: 2px;
}
#ulnav
{
    margin-left: 80px;
}
article
{

}
#top
{
    background-color: #5d5d5d;
    height: 215px;
    width: 100%;
    padding: 0px;
    margin:0px;
}
p
{
    font-family: 'Montserrat', sans-serif;
    color:black;
    background-color: #FFD638;
    padding:5px;
    margin-right: 4px;
}
.karta
{
    padding-left: 2px;
}
.mrhatt
{
    height:32%;
    width: 32%;
    margin: 0 auto;
    display: block;
    padding-top: 100px;
}
.center
{
    margin: 0 auto;
    text-align: center;

}
button
{
    float: right;
    height: 100%;
    width: 90px;
border-radius: 4px;
}
.avatar
{
    float: right;
    height: 100%;

}
.oppetider
{
    background-color: #FFD638;
    margin-left: 4px;
    padding: 4px;
}
