/*Det här är den almänna css-sidan som gäller på alla html*/
body /*Regler för hela body*/
{
    background-color: whitesmoke;
    margin:0px;
    height: 100%;
    font-family: 'Montserrat', sans-serif;


}
.container/*Regler för container div, detta lägger allt innehåll i mitten och med en bredd=960px*/
{
    width: 960px;
    margin: 0 auto;
    height: 100%;
    background-color: lightgrey;
    margin-bottom: 15px;
}
header /*Min header tag*/
{
    width: 960px;
    height: 215px;
    background-color: yellow;
}
nav /*Min nav tag, med en bakgrundsfärg som är gul*/
{
    width: 960px;
    height: 35px;
    background: #FFD638;
    border-radius: 5px;
}
li /*regler för alla list element*/
{
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}
ul/*regler för hela listan*/
{
    padding: 0px;
    margin: 0px;
    padding-top: 7px;
    float:left;
    display: inline-block;
}
aside /*regler för min aside, den är floatad till vänster*/
{
    background-color: lightgray;
    float: left;
    display: inline-block;
    width:248px ;
    height: 1192px;


}
section /*regler för section. Här är huvudinnehållet, också floatad till vänster*/
{
    float: left;
    width: 712px;
    display: inline-block;
    height: 1192px;
    background: lightgrey;



}
a /*regler för alla länkar*/
{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
    color: black;


    padding: 4px 9px 4px 8px;
}
a:hover /*regler som gäller för alla länkar när man håller musen över dem*/
{
    color: #4C4F4C;
    background-color: #E8C333;
    border-radius: 2px;
    transition-duration: 0.1s;
}
#ulnav
{
    margin-left: 80px;
}
article
{

    background-color: lightgrey;


}
#top
{
    background-color:whitesmoke;
    height: 215px;
    width: 100%;
    padding: 0px;
    margin:0px;
}
p /*almänna regler för all brödtext*/
{
    font-family: 'Montserrat', sans-serif;
    color:black;
    background-color: #FFD638;
    padding:5px;
    margin-right: 4px;
    border-radius: 4px;
}
.loginbutton
 {
     float: right;
     height: 100%;
     width: 90px;
     border-radius: 4px;
 }
.oppetider
  {
      background-color: #FFD638;
      margin-left: 2px;
      margin-right: 8px;
      padding: 4px;
      border-radius: 4px;
      margin-top: 16px;
  }
.karta
{
    padding-left: 2px;
    border-radius: 4px;
    background-color: #FFD638;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;

}
.karta2
{

    border-radius: 4px;
    width: 100%;
    height: 100%;
    margin-right: 8px;
    margin-top: 4px;
    padding-bottom: 4px;


}
.avatar
 {
     float: right;
     height: 100%;

 }
.kartdiv{
    background-color: #FFD638;
    margin-right: 8px;
    border-radius: 4px;
}

html{
    display: inline-block;
    height: 100%;
}
.clearfix:after /*Min clear tag, med regler provided by you*/
{
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;

}
.divklass /*regler för alla stycken, allt med rundade kanter och gul bakgrund*/
{
    background-color: #FFD638;
    border-radius: 4px;
    margin-right: 4px;
    margin-top: 16px;
    display: inline-block;
}
.divklass h2
{
    padding-left: 4px;
    text-align: center;
}

.mobilfix /*min mobilfix tag, som bara syns om man är på en telefon eller telefon som är smalare än 4 tum, därför syns den inte på vanliga datorer*/
{
    display: none;
}
footer /*Regler för min footer*/
{
    width: 960px;
}
footer p /*och texten i footer*/
{
    margin-right: 0;
    width: 955px;
    padding: 6px 0px 6px 5px;

}
.kallor{
    float: right;
    padding: 0px;
    padding-right: 5px;
}


@media screen and (max-width: 4in) /*Min media-querie, för mobila enheter, med en bredd som är under 4 tum (4in)*/
{


    .container /*Här får sidan en ny bredd, som är smalare eftersom vi inte har någon aside i mobilversionen*/
    {
        height: 100%;
        background-color: lightgrey;
        width: 713px;

    }
    aside/*Min aside försvinner på mobilversionen och ersätts med .mobilfix, som har samma innehåll bara att den placeras under istället för jämte.*/
    {
        display: none;
    }
    #top /*top försvinner, som innehåller slidern*/
    {
        display: none;
    }
    nav /*nav får också en annan bredd*/
    {
        width: 713px;
    }
    section /*section får en ny höjd, 100%, för att slippa tomt utrymme på skärmen*/
    {
        height:100%;

    }
    .mobilfix /*regler som säger att min mobilfix tag ska komma fram*/
    {
        display: block;
    }
    .mobilfix .kartdiv /*nya regler som säger att kartan och öppetiderna ska sitta i mitten*/
     {
        margin: 0 auto;
        text-align: center;
        display: block;
    }
    .mobilfix .kartdiv .karta2 /*-!!-*/
    {
        width: 50%;
        height: 50%;
    }

    .oppetider /*-!!-*/
    {
        display: block;
        margin: 0 auto;
        text-align: center;

    }
    footer /*footer visas ej, det blir bättre för mobilanpassning*/
    {
        display:none;
    }
    .loginbutton
    {
        display: none;
    }

}
